In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hobart,-42.8794,147.3294,71.02,46,20,3.00,AU,2021-11-02 01:09:46
1,1,Albany,42.6001,-73.9662,43.54,70,100,5.88,US,2021-11-02 01:09:46
2,2,Busselton,-33.6500,115.3333,63.05,58,36,15.73,AU,2021-11-02 01:09:47
3,3,Palmer,42.1584,-72.3287,45.91,80,75,0.00,US,2021-11-02 01:09:47
4,4,Rosetta,31.4044,30.4164,70.38,69,57,8.79,EG,2021-11-02 01:09:48

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3: Get Vacation Criteria

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Vanimo,-2.6741,141.3028,85.59,63,100,2.46,PG,2021-11-02 01:09:48
7,7,Flinders,-34.5833,150.8552,76.21,62,8,10.56,AU,2021-11-02 01:09:49
10,10,Swan Hill,-35.3378,143.5544,85.05,17,4,12.39,AU,2021-11-02 01:09:51
15,15,San Policarpo,12.1791,125.5072,81.36,85,100,13.73,PH,2021-11-02 01:09:53
20,20,Port Antonio,18.1800,-76.4612,77.95,84,22,3.87,JM,2021-11-02 01:09:55
22,22,Pen,18.7500,73.0833,80.64,68,100,5.03,IN,2021-11-02 01:09:56
23,23,Butaritari,3.0707,172.7902,82.65,70,16,12.35,KI,2021-11-02 01:09:56
30,30,Port-Gentil,-0.7193,8.7815,76.66,86,88,5.21,GA,2021-11-02 01:09:59
31,31,Georgetown,5.4112,100.3354,79.90,88,20,2.30,MY,2021-11-02 01:09:55
33,33,Port Hedland,-20.3167,118.5667,82.45,34,5,12.66,AU,2021-11-02 01:10:00

In [31]:
preferred_cities_df.count()

City_ID       153
City          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
Country       153
Date          153
dtype: int64

## 6.5.4: Map Vacation Criteria

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5          Vanimo      PG     85.59  -2.6741  141.3028
7        Flinders      AU     76.21 -34.5833  150.8552
10      Swan Hill      AU     85.05 -35.3378  143.5544
15  San Policarpo      PH     81.36  12.1791  125.5072
20   Port Antonio      JM     77.95  18.1800  -76.4612
22            Pen      IN     80.64  18.7500   73.0833
23     Butaritari      KI     82.65   3.0707  172.7902
30    Port-Gentil      GA     76.66  -0.7193    8.7815
31     Georgetown      MY     79.90   5.4112  100.3354
33   Port Hedland      AU     82.45 -20.3167  118.5667

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Vanimo,PG,85.59,-2.6741,141.3028,Vahmoneh Lodge Vanimo
7,Flinders,AU,76.21,-34.5833,150.8552,Shellharbour Resort & Conference Centre
10,Swan Hill,AU,85.05,-35.3378,143.5544,Lazy River Motor Inn
15,San Policarpo,PH,81.36,12.1791,125.5072,Agapita M. Nicart
20,Port Antonio,JM,77.95,18.1800,-76.4612,The Trident Hotel
22,Pen,IN,80.64,18.7500,73.0833,Hotel Marquis Manthan
23,Butaritari,KI,82.65,3.0707,172.7902,Isles Sunset Lodge
30,Port-Gentil,GA,76.66,-0.7193,8.7815,Fengshui Residence
31,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
33,Port Hedland,AU,82.45,-20.3167,118.5667,The Esplanade Hotel

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))